# numpy==1.18.2
numpy
# torch==1.4.0
# tensorboardX==2.0
tensorboardX
# scikit_image==0.16.2
scikit_image
# matplotlib==2.2.3
matplotlib
# tqdm==4.43.0
tqdm
# easydict==1.9
easydict
# Pillow==7.1.2
Pillow
opencv_python
pycocotools
